<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playground</title> 
    <style>
        * {
            margin: auto, 0;
            padding: 0;
        }
        body {
            width: 100%;
        }
        .box {
            background-color: rgb(159,197,248);
            width: 150px;
            height: 150px;
            display: inline-block;
            vertical-align: top;
            border: 3px solid black;
            margin: 3px;
        }
    </style>
</head>
<body>
    <div>
        {% for x in range(times): %}
            <div class=box style="background-color: '{{ color }}'"></div>
        {% endfor %}
    </div>
</body>
</html>